.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.time {
  font-size: 16px;
  margin-right: 10px;
}
.logo-image {
  height: 30px;
  width: 30px;
  margin-left: 50px;
  margin-top: 10px;
  margin-right: 15px;
}
.domain-url {
  font-size: 14px;
  color: #475569;
  padding-top: 5px;
}
.delete-button {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: flex-end;
}
.conty {
  align-items: flex-end;
  align-self: flex-end;
}
.conty2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 50px;
}
.button-item {
  background-color: transparent;
  border: 0 none;
}
